name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up environment file
        run: echo "FINNHUB_API_KEY=${{ secrets.FINNHUB_API_KEY }}" > backend/.env

      - name: Run tests with Docker Compose
        run: docker compose run --rm backend-test